<div class="container-fluid cFInicio">
	<div class="container cInicio trans">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				Mirhen
			</div>
		</div>
	</div>
</div>
<div class="container-fluid cMod1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				Mirhen
			</div>
		</div>
	</div>
</div>
<div class="container-fluid cMod2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				Mirhen
			</div>
		</div>
	</div>
</div>
<div class="container-fluid cMod3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				Mirhen
			</div>
		</div>
	</div>
</div>